body {
	margin: 0;
	background-color: #f0ffff;
}

.title-bar {
	background-color: #87ceeb;
	color: black;
	font-size: 34px;
	padding: 8px;
	user-select: none;
    margin-bottom: 20px;
	-webkit-app-region: drag; /* Make the title bar draggable */
}

.title {
	font-size: 24px;
	font-weight: bold;
}

.day-container {
	width: 370px;
    display: flex;
    border: 1px solid black;
    margin-left: 20px;
    margin-top: 5px;
}


.day-text {
	flex: 1.2;
    border: 1px solid red;
	text-align: center;
}

.time-input {
	flex: 1;
    background-color: none;
   	border-radius: 3px;
    border: 1px solid black;
    margin-left: 10px;
}

.time-input:focus {
    outline: none;
    border: 1px solid rgb(42, 100, 197);
}

input:disabled {
	background-color: #f0f0f0;
}

input[type=checkbox]:not(:checked) ~ .time-input	{
	pointer-events: none;
  	background-color: #f0f0f0;
}

input:not(:checked) ~ .day-text {
	color: #999;
}

#close-advanced-settings {
	width: 100px;
	padding: 10px;
    margin-top: 10px;
    margin-left: 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}