/* styles/style.css */
  body {
    padding: 50px;
  }

  @keyframes pulse {
    0% {
      background-color: #3498db;
    }
    50% {
      background-color: #F7AD19;
      transform: scale(1.5); 
    }
    100% {
      background-color: #3498db;
    }
  }

  .button_container {
    /* Dimensions */
    height: 100px;
    width: 100px;
    border-radius: 10px;
    background-color: #3498db;
    /* Grid Layout */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* Animation */
    animation: pulse;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-timing-function: linear;  
    animation-delay: 1s;
    }

  button {
    background-color: transparent;
    color: #fff;
    cursor: pointer;
  }
  
   button:hover {
    background-color: #9db9cf;
  }
  
  #button1 {
    grid-column: 1;
    grid-row: 1;
    border-top-left-radius: 10px;
    background-image: url('../../assets/images/description_FILL0_wght400_GRAD0_opsz40.png');
    background-position: center center;
  }
  
  #button2 {
    grid-column: 2;
    grid-row: 1;
	  border-top-right-radius: 10px;
    background-image: url('../../assets/images/skip_next_FILL0_wght400_GRAD0_opsz40.png');
    background-position: center center;
  }
  
  #button3 {
    grid-column: 1;
    grid-row: 2;
    border-bottom-left-radius: 10px;
    background-image: url('../../assets/images/snooze_FILL0_wght400_GRAD0_opsz40.png');
    background-position: center center;
  }
  
  #button4 {
    grid-column: 2;
    grid-row: 2;
    border-bottom-right-radius: 10px;
    background-image: url('../../assets/images/power_settings_new_FILL0_wght400_GRAD0_opsz40.png');
    background-position: center center;
  }
